[*]
end_of_line = crlf
indent_style = space
indent_size = 2
insert_final_newline = true
spelling_exclusion_path = .\exclusion.dic

# Xml project files
[*.{csproj,props}]
indent_size = 2

# C# files
[*.cs]
csharp_style_namespace_declarations = file_scoped
dotnet_diagnostic.SA1101.severity = none
dotnet_diagnostic.SA1633.severity = none
# https://github.com/DotNetAnalyzers/StyleCopAnalyzers/issues/3540
dotnet_diagnostic.SA1118.severity = none
indent_size = 4
csharp_style_expression_bodied_methods = true:silent
csharp_style_namespace_declarations = file_scoped

[tests/**.cs]
# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none
dotnet_diagnostic.CA1819.severity = none
dotnet_diagnostic.CA2255.severity = none

[*.sh]
end_of_line = lf
