<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<!--To inherit the global NuGet package sources remove the <clear/> line below -->
		<clear />
		<add key="nuget" value="https://api.nuget.org/v3/index.json" />
		<add key="dotnet-previews" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet10/nuget/v3/index.json" />
	</packageSources>
	<packageSourceMapping>
		<!-- key value for <packageSource> should match key values from <packageSources> element -->
		<packageSource key="nuget">
			<package pattern="*" />
		</packageSource>
		<!-- <packageSource key="dotnet-previews">
      <package pattern="Microsoft.CodeAnalysis.CSharp" />
      <package pattern="Microsoft.CodeAnalysis.Common" />
      <package pattern="Microsoft.Net.Compilers.Toolset" />
		</packageSource> -->
	</packageSourceMapping>
</configuration>
